header {
  height: 64px;
  width: 100%;
  background: #060613;
  padding: 4rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 85.69px;
  height: 24px;
  flex-shrink: 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

h3 {
  font-family: "Graphik";
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

h3:hover {
  color: #02ffa1;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.buttonSubscribe {
  font-family: "Graphik";
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3rem;
  background: #02ffa1;
  border-color: #02ffa1;
  border-radius: 4px;
  width: 104.98px;
  height: 32px;
  padding: 6px 11.8px 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.buttonSubscribe:hover {
  background: #3de0a4;
  border-color: #3de0a4;
}

.buttonLogin {
  font-family: "Graphik";
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3rem;
  color: #fff;
  width: 140px;
  height: 32px;
  padding: 6px 13.8px 6px 14px;
  border-radius: 4px;
  border: 2px solid #fff;
  background: #060613;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}

.buttonLogin:hover {
  border-color: #c7cac9;
}
